@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: calc(9px + .7vw);
}
body

table {
    font-size: calc(9px + .3vw);
    text-align: center;
}

button {
    border-radius: 8px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: calc(9px + .7vw);
    margin: 20px;
}

form#question-form {
    font-size: calc(10px + 1vw);
}

.mui--appbar-height{
    font-size: 20px;
}